.form-container {
  margin: 4rem 6rem;
  color: #2a2a2a;
}

.form-container form {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.form-container h1 {
  font-family: "Aboreto", cursive;
}

.form-container input {
  height: 3rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  border: 1px solid #2a2a2a;
}

.form-container textarea {
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  border: 1px solid #2a2a2a;
}

.form-container button {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  width: 110px;
  background: rgb(132, 128, 128);
  color: black;
  padding: 0.6rem;
  padding-left: 2.3rem;
  white-space: nowrap;
  border-radius: 0.3rem;
  font-size: 1rem;
}

.form-container button:hover {
  background: black;
  color: white;
  font-weight: 700;
}

@media screen and (max-width: 850px) {
  .form-container {
    margin: 4rem 2rem;
  }
  .form-container form {
    padding-top: 2rem;
    width: 90%;
  }
}
