.donation {
  margin: 4.5rem 6rem;
  position: relative; /* Ensure relative positioning for the container */
}

.donation h1 {
  font-size: 1rem;
  font-family: "Aboreto", cursive;
}

mark.yellow {
  color: rgb(202, 173, 30);
  background: none;
}

.donation h2 {
  font-family: "Aboreto", cursive;
  font-size: 0.8rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.des-text h2 {
  font-family: "Aboreto", cursive;
  font-size: 1.5rem;
  font-weight: 1000;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  margin-left: -2rem;
}

mark.red {
  color: rgb(249, 79, 6);
  background: none;
}

.first-des {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.5rem;
}

.first-des-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 4.5rem;
}

.first-des-reverse img:nth-child(1) {
  margin-left: -380px;
}

.image1 {
  position: relative;
  width: 10%;
  display: flex;
  justify-content: space-between;
}

.image2 {
  position: relative;
  width: 30%;
  display: flex;
  justify-content: space-between;
  z-index: -1;
}

.image1 img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-left: 100px;
}

.image2 img {
  width: 300px;
  height: 230px;
  object-fit: cover;
  box-shadow: -1px 1px 62px -18px;
}

button {
  padding: 0.7rem 1.2rem;
  white-space: nowrap;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background: black;
  color: #ffffff;
  margin-bottom: 2rem;
  margin-left: -2rem;
}

button:hover {
  background: rgb(132, 128, 128);
  color: black;
  font-weight: 600;
}

.dashboard-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.7rem 1.2rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background: black;
  color: #ffffff;
}

.dashboard-button:hover {
  background: rgb(132, 128, 128);
  color: black;
  font-weight: 600;
}

@media screen and (max-width: 850px) {
  .donation {
    margin: 4.5rem 1rem;
  }

  .first-des {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
  }

  .first-des-reverse {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
  }

  .first-des-reverse img:nth-child(1) {
    margin-left: 30px;
  }

  .image1 {
    position: relative;
    width: 10%;
    display: flex;
    justify-content: space-between;
    left: -18%;
  }

  .image2 {
    position: relative;
    width: 30%;
    display: flex;
    justify-content: space-between;
    left: -18%;
    z-index: -1;
  }

  .image1 img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-left: -30px;
  }

  .image2 img {
    width: 300px;
    height: 230px;
    object-fit: cover;
    box-shadow: -1px 1px 62px -18px;
  }
}
